html,
body,
#app {
  font-family: sans-serif;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.pagination {
  display: flex;
  flex-direction: row;
}

.page-item {
  list-style-type: none;
  border: solid, black, 1px;
}
